#form{
width: 50vw;
}

.errores {
  color: red;
  font-weight: bolder;
  margin-left: 2vw;
}

.searchBar{
    display: flex;
    background-color: rgb(0, 255, 179);
    height: 8vh;
    align-items: center;
    justify-content: space-between;
}

.searchField{
    height: 4vh;
    width: 25vw;
    margin-left: 1.5vw;
}

.btnSubmitName{
    margin-left: 1.5vw;
    height: 4.5vh;
}

.btnReload{
    margin-right: 2vw;
    height: 4.5vh;
}

.caja {
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
    margin-left: 15vw;
 }
 select {
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
 }
 select:focus{ outline: none;}
 
 .caja::after{
     content:"\025be";
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     background-color:#d9d9d9;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
 }